
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

$color-dark: #131313;
$color-light: #fff;
$color-main: #bfbfbf;
$color-danger: #cf383e;

$font-text: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$transition: all 0.5s;
$radius: 4px;